.addtreat{
    justify-content: center;
    align-items: center;
    display: flex;
}
.addtreat h3{
    color: rgb(16, 90, 140);
}
.addtreat .col-md-6{
    border: 2px solid rgb(16, 90, 140);
    padding: 20px;
    border-radius: 20px;
}
.addtreat .btn{
    color: rgb(16, 90, 140);
    border: 2px solid rgb(16, 90, 140);
    font-weight: 700;
}
.addtreat .btn:hover{
    background-color: rgb(16, 90, 140);
    color: white;
}

.gettreatment button{
    border: none;
}
.gettreatment button:hover{
    color: white;
    background-color: red;
}
.gettreatment table tbody img{
    width: 60px;
    height: 70px;
}
.gettreatment th{
    color: rgb(16, 90, 140);
}