
.header ul li a{
    text-decoration: none;
    list-style: none;
    border-bottom: none; 
    padding: 0px 10px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(16, 90, 140);
}
.header ul li a:hover{
    font-weight: 700;
}
.header img{
    height: 60px;
    width: 70px;
}
.header a span{
    font-weight: 700;
    font-size: 30px;
    color: rgb(16, 90, 140);
}

.banner{
    /* background-image: url(https://wallpaperaccess.com/full/624111.jpg); */
    background-image: url(https://wallpapertag.com/wallpaper/full/e/1/4/826909-hospital-wallpapers-1920x1080-hd.jpg);
    background-repeat: no-repeat;   
    background-size: cover;
    /* background-attachment: fixed; */
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.banner .text{
    color: white;  
}